<p-table #dt [value]="tickets" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [autoLayout]="true"
         dataKey="id" sortField="status.length" [globalFilterFields]="['status']" styleClass="ui-table-customers"
         currentPageReportTemplate="Показаны с {first} по {last} тикеты из {totalRecords}" [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>ID тикета</th>
      <th>Время создания</th>
      <th style="width: 100px; padding: 0">
        <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')"
                    styleClass="ui-column-filter" placeholder="Статус" [showClear]="false">
          <ng-template let-option pTemplate="item">
            <span [class]="'ticket-badge status-' + option.value">{{option.label}}</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th>Тип товара</th>
      <th>Бренд</th>
      <th>Наименование</th>
      <th>Возраст</th>
      <th>Цена</th>
      <th>Название магазина</th>
      <th>Ссылка на товар</th>
      <th>ID товара</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ticket>
    <tr>
      <td>{{ticket.id}}</td>
      <td>{{ticket.createdTime}}</td>
      <td style="text-align:center">
        <span [class]="'ticket-badge status-' + ticket.status">{{ticket.status}}</span>
      </td>
      <td>{{ticket.scrapperOffer.type.showName}}</td>
      <td>{{ticket.scrapperOffer.brand}}</td>
      <td>{{ticket.scrapperOffer.name}}</td>
      <td>{{ticket.scrapperOffer.age}}</td>
      <td>{{ticket.scrapperOffer.price}}</td>
      <td>{{ticket.scrapperOffer.shopName}}</td>
      <td><a href="{{ticket.scrapperOffer.link}}" target="_blank">{{ticket.scrapperOffer.link}}</a></td>
      <td>{{ticket.productIds}}</td>
      <td><p-button [disabled]="ticket.status==='RESOLVED'" (onClick)="toDetails($event, ticket.id)" label="Решить"></p-button></td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="12" style="text-align:center" height="50">Тикеты не найдены</td>
    </tr>
  </ng-template>
</p-table>
