<p-table #dt [value]="tickets" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,25,50]" [autoLayout]="true"
         dataKey="id" sortField="id" [globalFilterFields]="['status']" styleClass="ui-table-customers"
         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>createdTime</th>
      <th>
        <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'status', 'equals')"
                    styleClass="ui-column-filter" placeholder="Status" [showClear]="true">
          <ng-template let-option pTemplate="item">
            <span [class]="'ticket-badge status-' + option.value">{{option.label}}</span>
          </ng-template>
        </p-dropdown>
      </th>
      <th>type</th>
      <th>brand</th>
      <th>name</th>
      <th>age</th>
      <th>price</th>
      <th>shopName</th>
      <th>link</th>
      <th>productIds</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ticket>
    <tr>
      <td>{{ticket.id}}</td>
      <td>{{ticket.createdTime}}</td>
      <td style="text-align:center">
        <span [class]="'ticket-badge status-' + ticket.status">{{ticket.status}}</span>
      </td>
      <td>{{ticket.scrapperOffer.type.showName}}</td>
      <td>{{ticket.scrapperOffer.brand}}</td>
      <td>{{ticket.scrapperOffer.name}}</td>
      <td>{{ticket.scrapperOffer.age}}</td>
      <td>{{ticket.scrapperOffer.price}}</td>
      <td>{{ticket.scrapperOffer.shopName}}</td>
      <td>{{ticket.scrapperOffer.link}}</td>
      <td>{{ticket.productIds}}</td>
      <p-button [disabled]="ticket.status!='NEW'" (onClick)="toDetails($event, ticket.id)" label="Click"></p-button>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8" style="text-align:center" height="50">No tickets found.</td>
    </tr>
  </ng-template>
</p-table>
