<p-table [value]="products" [paginator]="true" [rows]="50" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>ID товара</th>
      <th>Модель</th>
      <th>Бренд</th>
      <th>Тип товара</th>
      <th>Возраст</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.productId}}</td>
      <td>{{product.model}}</td>
      <td>{{product.brand}}</td>
      <td>{{product.type.showName}}</td>
      <td>{{product.age}}</td>
    </tr>
  </ng-template>
</p-table>
