.page-title {
  text-align: center;
  font-size: 100px;
}

header {
  background: PapayaWhip;
  color: Maroon;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 0;
}

p-menubar {
  margin-bottom: 0.5em;
}

footer {
  font-family: Ubuntu;
  color: Maroon;
  background: PapayaWhip;
  bottom:0;
  width:100%;
  padding-top: 1em;
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  min-height: 3em;
}
