.page-title {
  text-align: center;
  font-size: 100px;
}

footer {
  font-family: Ubuntu;
  color: Maroon;
  background: PapayaWhip;
  bottom:0;
  width:100%;
  padding-top: 1em;
  display: flex;
  justify-content: center;
}
