<span [class]="'ticket-badge status-' + ticket.status">{{ticket.status}}</span>
<p></p>

<p>{{ticket.scrapperOffer.name}}</p>
<p>{{ticket.id}}</p>


<p-dropdown [options]="productsIds" [(ngModel)]="selectedProductId" filter="true" placeholder="ID оффера">
  <ng-template let-pid pTemplate="selectedItem">
    <span style="vertical-align:middle; margin-left: .5em">{{pid.label}}</span>
  </ng-template>
  <ng-template let-pid pTemplate="item">
    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
      <div style="font-size:14px;float:right;margin-top:4px">{{pid.value}}</div>
    </div>
  </ng-template>
</p-dropdown>

<p></p>

<p-button (onClick)="resolve(selectedProductId)" label="Привязать к офферу"></p-button>


<h3>Модель</h3>
<input id="model-input" type="text" size="30" pInputText [(ngModel)]="model" placeholder="Модель">

<h3>Бренд</h3>
<p-dropdown [options]="brands" [(ngModel)]="brandShortName" filter="true" placeholder="Бренд">
  <ng-template let-item pTemplate="selectedItem">
    <span style="vertical-align:middle; margin-left: .5em">{{item.value}}</span>
  </ng-template>
  <ng-template let-item pTemplate="item">
    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
      <div style="font-size:14px;float:right;margin-top:4px">{{item.value}}</div>
    </div>
  </ng-template>
</p-dropdown>

<h3>Тип товара</h3>
<p-dropdown [options]="types" [(ngModel)]="typeShowName" filter="true" placeholder="Тип товара">
  <ng-template let-item pTemplate="selectedItem">
    <span style="vertical-align:middle; margin-left: .5em">{{item.value}}</span>
  </ng-template>
  <ng-template let-item pTemplate="item">
    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
      <div style="font-size:14px;float:right;margin-top:4px">{{item.value}}</div>
    </div>
  </ng-template>
</p-dropdown>

<h3>Возраст</h3>
<p-dropdown [options]="ages" [(ngModel)]="age" filter="true" placeholder="Возраст">
  <ng-template let-item pTemplate="selectedItem">
    <span style="vertical-align:middle; margin-left: .5em">{{item.value}}</span>
  </ng-template>
  <ng-template let-item pTemplate="item">
    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
      <div style="font-size:14px;float:right;margin-top:4px">{{item.label}}</div>
    </div>
  </ng-template>
</p-dropdown>

<h3>Описание</h3>
<input id="description-input" type="text" size="30" pInputText [(ngModel)]="description" placeholder="Описание">

<h3>Ссылка на изображение</h3>
<input id="imgLink-input" type="text" size="30" pInputText [(ngModel)]="srcImageLink" placeholder="Ссылка на изображение">

<p></p>

<p-button (onClick)="resolveWithProductCreating()" label="Создать товар"></p-button>

